
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL }}/css/bootstrapSwitch.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="#">fp-Monitoring System</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ username }}</a> | 
              <a href="/logout" class="navbar-link">Logut   </a>
            </p>
            <ul class="nav">
            <li class="active"><a href="#">Dashboard</a></li>
              <li><a href="/help">Help</a></li>
            {% if test_mode %}<li>
            <a href=""><span class="label label-warning">Warning! The test mode is ON</span></a>
            </li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% if node_list %}
    <h1>Node list</h1>
    <table class="table table-striped" id="node_list">
      <thead>
        <tr>
          <th>NodeID</th>
          <th>Monitoring</th>
          <th>Status</th>
          <th>Load</th>
          <th>Mem. usage</th>
          <th>OS</th>
          <th>Version</th>
          <th>Last sync</th>
          <th>Uptime</th>
        </tr>
      </thead>

      <tbody>
        {% for node in node_list %}
        <tr>
          <td><a href="#">{{ node.name }}</a></td>
          <td>
            <div id="switchname-{{ node.id }}" class="switch switch-mini" data-on="success" data-off="danger">
              <input id="node-cb-{{ node.id }}" name="node-cb-{{ node.id }}" type="checkbox" {% if not node.maintenance_mode %}checked{% endif %} />
            </div>
          </td>
        <td><span class="label label-{{ node.get_status_class }}">&nbsp; &nbsp; {{ node.get_status_text }} &nbsp; &nbsp; </span></td>
        <td>[{{ node.loadavg_5|floatformat}}] [{{node.loadavg_10|floatformat}}] [{{node.loadavg_15|floatformat}}]</td>
        <td>{{ node.memory_usage }} %</td>
        <td>{{ node.os_type }}</td>
        <td>{{ node.os_version }}</td>
        <td>{{ node.get_last_seen_in_minutes }} minutes ago</td>
        <td>{{ node.get_uptime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome {{ username }}!</h1>
        <p>You don't have nodes connected to the monitoring system</p>
      </div>
    {% endif %}

      <!-- Example row of columns -->
<!--       <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapiqbus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div> -->

      <hr>

      <footer>
        <p>&copy; fp-Monitoring System 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrapSwitch.js"></script>
    <script>
    {% for node in node_list %}
      $('#switchname-{{ node.id }}').on('switch-change', function (e, data) {
        $.ajax({
          type: "POST",
          url: "/api/v1/node/maintenance_mode",
          data: { 'id': {{ node.id }}, 'mode': data.value }
        });
        console.log('toggled {{ node.id }}', data.value);
      });
    {% endfor %}
    </script>
   

  </body>
</html>
